body {
    background-color: #0a0a0a; 
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #64b84d;
    margin: 0;
    padding: 10px 0;
}

.container {
    padding-top: 80px; 
    text-align: center;
}

.menu {
    position: fixed; /* მენიუ გაჩერებული იქნება გვერდის ზედა ნაწილში */
    top: 0;           /*მენიუ იქნება ზევით  */
    left: 0;              /*მარცხენა კუთხეში */
    width: 100%;        /*ზომა შევუცვალე  */
    display: flex;     /* Flexbox გამოვიყენე ელემენტების განლაგებისთვის */
    justify-content: flex-start;    
    align-items: center;  
    background-color: #1d1d1d; /* კურსები და რაღაცეები სადაც მიწერია ზევით მარცხნივ მაგის ბექგრაუნდს შევუცვალე ფერი*/
    padding: 15px 30px;  /*დაშორება გავუკეთე y-ზე 15px  x-px */
    box-shadow: 0 4px 8px rgba(0, 255, 13, 0.3);   /*მენიუს გავუკეთე მწვანე შადოუები*/
    z-index: 1000;
}

.menu a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.menu a:hover {
    background-color: #64b84d; 
    color: black;
    border-radius: 5px;
}

.menu .logo {
    position: absolute;
    top: 10px;
    right: 30px;  
    height: 50px;
    width: auto;
}

.content {
    padding: 20px;
    color: rgb(10, 4, 4);
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

video {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.course {
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    transition: transform 0.3s ease;
}

.course:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.course h3 {
    color: #64b84d;
    margin-bottom: 10px;
}

.course p {
    color: #555;
    line-height: 1.6;
    font-size: 16px;
}


        
body {
font-family: 'halvetica', sans-serif;
background-color: #f9f9f9;
color: #333;
margin: 0;
padding: 0;
}

h1 {
text-align: center;
color: #2d8b3c;
margin-top: 20px;
}

p {
line-height: 1.6;
margin: 20px;
padding: 10px;
background-color: #ffffff;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* ჩამონათვალი */
.prices {
margin: 20px auto;
max-width: 600px;
}

.price-item {
background-color: #f0f8f0;
margin-bottom: 15px;
padding: 15px;
border-radius: 8px;
border: 1px solid #d6d6d6;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.price-item:last-child {
margin-bottom: 0;
}

.price-item span {
font-weight: bold;
color: #2d8b3c;
}

.price-item p {
font-size: 1.1em;
}

.price-item:before {
content: "🟢";
font-size: 1.5em;
margin-right: 10px;
}